<div class="flex-container">
  <Flex [direction]="'column'">
    <Flex [direction]="'row'">
      <div class="placeholder inline">Block</div>
      <div class="placeholder inline">Block</div>
      <div class="placeholder inline">Block</div>
    </Flex>
    <Flex [direction]="'row'">
      <div class="placeholder inline">Block</div>
      <div class="placeholder inline">Block</div>
    </Flex>
    <div class="placeholder inline">Block</div>
    <Flex [direction]="'row'">
      <div class="placeholder inline">Block</div>
      <div class="placeholder inline">Block</div>
    </Flex>

    <div class="placeholder inline">Block</div>
    <Flex [direction]="'row'">
      <div class="placeholder inline">Block</div>
      <div class="placeholder inline">Block</div>
    </Flex>
  </Flex>
</div>
