<div class="flex-container">
  <Flex [direction]="'column'" [align]="'stretch'">
    <div class="app-content">
      <SegmentedControl [selectedIndex]="actRootIndex"
                        (onChange)="onSelectLevelOneTab($event)"
                        [values]="[tabRootConfig['tabName1'],tabRootConfig['tabName2'],tabRootConfig['tabName3']]">
      </SegmentedControl>

      <div>
        <div [hidden]="actRootIndex != 0">
          <Tabs
            [page]="3"
            [activeTab]="0"
            [prerenderingSiblingsNumber]="0"
            (onChange)="onSelectLevelTwoTab($event)">

            <TabPane
              *ngFor="let tItem of tabRootConfig['tabVoChild1']; let i = index" [title]="tItem['tabName']">
              <div
                style="display: flex; align-items: center;justify-content: center;height: 150px;background-color: #fff">
                {{ tItem['tabName'] }}
              </div>
            </TabPane>
          </Tabs>
        </div>

        <div [hidden]="actRootIndex != 1">
          <Tabs
            [page]="3"
            [activeTab]="0"
            [prerenderingSiblingsNumber]="0"
            (onChange)="onSelectLevelTwoTab($event)">

            <TabPane
              *ngFor="let tItem of tabRootConfig['tabVoChild2']; let i = index" [title]="tItem['tabName']">
              <div
                style="display: flex; align-items: center;justify-content: center;height: 150px;background-color: #fff">
                {{ tItem['tabName'] }}
              </div>
            </TabPane>
          </Tabs>
        </div>

      </div>
    </div>
  </Flex>
</div>
