<div class="flex-container">

  <Flex [direction]="'row'" [align]="'center'" [hidden]="
  !(curPageName == pageConstant.pageMain
  || curPageName == pageConstant.pageStart
  || curPageName == pageConstant.pageVipOrder)">
    <div class="inline">
      <a Button [icon]="headBackImg" (click)="goBack($event)">
        {{ 'back' | translate }}
      </a>
      <ng-template #headBackImg>
        <img src="assets/style/icon/back.png" alt=""/>
      </ng-template>
    </div>

    <div class="inline header-search-container">
      <SearchBar [placeholder]="trans['searchPlaceholder']"></SearchBar>
    </div>
    <div class="inline">
      <img src="assets/style/icon/profile_icon.png" alt="" (click)="goProfile($event)"/>
    </div>
  </Flex>

  <Flex [direction]="'row'" [align]="'center'" [hidden]="
  !(curPageName == pageConstant.pageProfile
  || curPageName == pageConstant.pageProfileMyCourse
  || curPageName == pageConstant.pageMyCollect
  || curPageName == pageConstant.pageMyCustomerService
  || curPageName == pageConstant.pageMyHelp
  || curPageName == pageConstant.pageMyDownloadList
  )">
    <div class="inline">
      <a Button [icon]="headBackImg" (click)="goBack($event)">
        {{ 'back' | translate }}
      </a>
      <ng-template #headBackImg>
        <img src="assets/style/icon/back.png" alt=""/>
      </ng-template>
    </div>
    <div class="inline" [hidden]="curPageName != pageConstant.pageProfile">{{ 'personalCenter' | translate }}</div>
    <div class="inline" [hidden]="curPageName != pageConstant.pageProfileMyCourse">{{ 'myCourses' | translate }}</div>
    <div class="inline" [hidden]="curPageName != pageConstant.pageMyCollect">{{ 'myCollect' | translate }}</div>
    <div class="inline" [hidden]="curPageName != pageConstant.pageMyCustomerService">{{ 'ffzdCustomerService' | translate }}</div>
    <div class="inline" [hidden]="curPageName != pageConstant.pageMyHelp">{{ 'help' | translate }}</div>
    <div class="inline" [hidden]="curPageName != pageConstant.pageMyDownloadList">{{ 'downloadList' | translate }}</div>
  </Flex>

</div>
<router-outlet></router-outlet>

