<div class="flex-container">

  <Flex [direction]="'row'" [align]="'center'" [hidden]="
  !(curPageName == pageConstant.pageMain
  || curPageName == pageConstant.pageStart
  || curPageName == pageConstant.pageVipOrder)">
    <div class="inline">
      <a Button [icon]="headBackImg" (click)="goBack($event)">
        {{ 'back' | translate }}
      </a>
      <ng-template #headBackImg>
        <img src="assets/style/icon/back.png" alt=""/>
      </ng-template>
    </div>

    <div class="inline header-search-container">
      <SearchBar [placeholder]="trans['searchPlaceholder']"></SearchBar>
    </div>
    <div class="inline">
      <img src="assets/style/icon/profile_icon.png" alt="" (click)="goProfile($event)"/>
    </div>
  </Flex>

  <Flex [direction]="'row'" [align]="'center'" [hidden]="
  !(curPageName == pageConstant.pageProfile
  || curPageName == pageConstant.pageProfileMyCourse)">
    <div class="inline">
      <a Button [icon]="headBackImg" (click)="goBack($event)">
        {{ 'back' | translate }}
      </a>
      <ng-template #headBackImg>
        <img src="assets/style/icon/back.png" alt=""/>
      </ng-template>
    </div>
    <div class="inline" ng-if="curPageName != pageConstant.pageProfile">{{ 'personalCenter' | translate }}</div>
    <div class="inline" ng-if="curPageName != pageConstant.pageProfileMyCourse">{{ 'myCourses' | translate }}</div>
  </Flex>

</div>
<router-outlet></router-outlet>

