<Flex [direction]="'column'">
  <Flex [direction]="'row'">
    <div class="inline">Block</div>
    <div class="inline">Block</div>
    <div class="inline">Block</div>
  </Flex>
  <div class="inline">Block</div>
  <Flex [direction]="'row'">
    <div class="inline">Block</div>
    <div class="inline">Block</div>
    <div class="inline">Block</div>
  </Flex>
  <Flex [direction]="'row'">
    <div class="inline">Block</div>
    <div class="inline">Block</div>
    <div class="inline">Block</div>
  </Flex>
  <Flex [direction]="'row'">
    <div class="inline">Block</div>
    <div class="inline">Block</div>
    <div class="inline">Block</div>
  </Flex>
  <Flex [direction]="'row'">
    <div class="inline">Block</div>
    <div class="inline">Block</div>
    <div class="inline">Block</div>
  </Flex>
  <div class="inline">Block</div>
</Flex>
